@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: black;
}

/* Custom Scroll Bar - CSS */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: aqua;
}

/* Navigation Bar */

nav {
    width: 100%;
    height: 10vh;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: aqua;
    text-shadow: 0 0 10px aqua;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    opacity: 0;
    pointer-events: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: aqua;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: aqua;    
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover {
    background-color: aqua;
}

section {
    width: 100%;
    min-height: 90vh;
}

.main-container {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    align-items: center; 
    gap: 10rem;
}

.main-container .content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.main-container .content h1 span {
    color: aqua;
    text-shadow: 0 0 20px aqua;
}

.main-container .content h3 {
    margin: 20px 0;
    color: white;
    font-size: 4rem;
    font-weight: 500;
}

.main-container .content p {
    color: white;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.main-container .image {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: none;
    box-shadow: 0 0 50px aqua;
    margin-left: 15rem;
}

.main-container .image img {
    width: 100%;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}


.typewriter {
    font-size: 34px; 
    font-weight: 600;
    min-width: 280px;
}

.typewriter span {
    position: relative;
}

.typewriter span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 2px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid aqua;
    }
}

.typewriter-text {
    color: aqua;
    position: relative;
    padding-right: 6px;
    white-space: nowrap;
    border-right: 3px solid aqua;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.main-container .content {
    color: white;
    width: 40%;
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    color: aqua; 
    text-shadow: 0 0 10px aqua;
}

.content .typewriter {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.content .typewriter-text {
    color: aqua;
    text-shadow: 0 0 10px aqua;
}

.content p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid aqua;
    border-radius: 50%;
    color: aqua;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.3;
    color: black;
    background-color: aqua;
    filter: drop-shadow(0 0 10px aqua);
}

.content button {
    width: 25%;
    height: 6vh;
    margin: 30px;
    background-color: aqua;
    color: white;
    border: none;
    outline: none;
    font-size: 200%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover {
    scale: 1.1;
    color: aqua;
    border: 2px solid aqua;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px aqua;
}

/* Section Styling - About Me */

section .content {
    width: 80%;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: aqua;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details .left {
    width: 45%;
}

.about .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about-details .right {
    width: 55%;
}

section .topic {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-details .right p {
    text-align: justify;
    color: white;   
    font-size: 16px;
}

section .button {
    margin: 16px 0;
}

section .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: aqua;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .button button:hover {
    border-color: aqua;
    background-color: white;
    color: aqua;
}

/* Section Styling - My Experience */

.experience {
    background: black;
}

.experience .content {
    padding: 40px 0;
}

.experience .experience-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-details .text {
    width: 45%;
}

.experience-details p {
    color: white;
    text-align: justify;
    font-size: 16px;
}

.experience .experience-details .experience-info {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.experience-details .experience-info .num {
    color: white;
    font-size: 80px;
}

.experience-details .experience-info .exp {
    margin-left: 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.experience-details .boxes {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience-details .box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}

.experience-details .boxes .topic {
    font-size: 20px;
    color: aqua;
}